name: test-media

networks:
  test-media-net:
    name: test-media-net

services:
  test-media-gluetun:
    image: qmcgaw/gluetun
    container_name: test-media-gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ${GLUETUN_FOLDER}:/gluetun
      - ${VPN_WG_CONFIG}:/gluetun/wireguard/wg0.conf
    environment:
      - VPN_PORT_FORWARDING_PROVIDER=private internet access
      - VPN_PORT_FORWARDING_USERNAME=${PIA_USER}
      - VPN_PORT_FORWARDING_PASSWORD=${PIA_PASSWORD}
      - SERVER_NAMES=${VPN_SERVER}
      - VPN_SERVICE_PROVIDER=custom
      - VPN_TYPE=wireguard
      #- VPN_SERVICE_PROVIDER=private internet access
      #- OPENVPN_USER=${PIA_USER}
      #- OPENVPN_PASSWORD=${PIA_PASSWORD}
      #- SERVER_REGIONS=Netherlands

      - HTTPPROXY=on
      - VPN_PORT_FORWARDING=on
      - VPN_PORT_FORWARDING_UP_COMMAND=/bin/sh -c 'wget -O- --retry-connrefused --post-data "json={\"listen_port\":{{PORTS}}}" http://127.0.0.1:8080/api/v2/app/setPreferences 2>&1'
    restart: unless-stopped
    networks:
      - test-media-net
    ports:
      - ${PROWLARR_PORT}:9696
      - ${SONARR_PORT}:8989
      - ${RADARR_PORT}:7878
      - ${QBITTORRENT_WEBUI_PORT}:8080
      - ${SEERR_PORT}:5055
      - ${JELLYFIN_PORT}:8096
      - ${KAPOWARR_PORT}:5656
      - ${JELLYSTAT_PORT}:3000
      - ${KAVITA_PORT}:5000
      - ${HTTP_PROXY_PORT}:8888/tcp # HTTP proxy
    healthcheck:
      test: ["CMD-SHELL", "wget --spider http://localhost:8888 2>&1 | grep -q '400 Bad Request' || exit 1"]

  test-media-prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: test-media-prowlarr
    environment:
      - PUID=${USER_ID}
      - PGID=${GROUP_ID}
      - TZ=${TIMEZONE}
    volumes:
      - ${PROWLARR_FOLDER}:/config
    restart: unless-stopped
    network_mode: service:test-media-gluetun
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:9696 || exit 1"]

  test-media-flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: test-media-flaresolverr
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ=${TIMEZONE}
    restart: unless-stopped
    network_mode: service:test-media-gluetun
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:8191 || exit 1"]

  test-media-sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: test-media-sonarr
    environment:
      - PUID=${USER_ID}
      - PGID=${GROUP_ID}
      - TZ=${TIMEZONE}
    volumes:
      - ${SONARR_FOLDER}:/config
      - ${DATA_FOLDER}:/data
    restart: unless-stopped
    network_mode: service:test-media-gluetun
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:8989 || exit 1"]

  test-media-radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: test-media-radarr
    environment:
      - PUID=${USER_ID}
      - PGID=${GROUP_ID}
      - TZ=${TIMEZONE}
    volumes:
      - ${RADARR_FOLDER}:/config
      - ${DATA_FOLDER}:/data
    restart: unless-stopped
    network_mode: service:test-media-gluetun
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:7878 || exit 1"]

  test-media-qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: test-media-qbittorrent
    environment:
      - PUID=${USER_ID}
      - PGID=${GROUP_ID}
      - TZ=${TIMEZONE}
    volumes:
      - ${QBITTORRENT_FOLDER}:/config
      - ${DATA_FOLDER}:/data
    restart: unless-stopped
    network_mode: service:test-media-gluetun
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:8080 || exit 1"]

  test-media-seerr:
    image: ghcr.io/seerr-team/seerr:latest
    init: true
    container_name: test-media-seerr
    environment:
      - LOG_LEVEL=debug
      - TZ=${TIMEZONE}
    volumes:
      - ${SEERR_FOLDER}:/app/config
    restart: unless-stopped
    network_mode: service:test-media-gluetun
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1

  test-media-jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: test-media-jellyfin
    environment:
      - PUID=${USER_ID}
      - PGID=${GROUP_ID}
      - TZ=${TIMEZONE}
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - ${JELLYFIN_FOLDER}:/config
      - ${DATA_FOLDER}:/data
    restart: unless-stopped
    network_mode: service:test-media-gluetun
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:8096 || exit 1"]

  test-media-kavita:
    image: lscr.io/linuxserver/kavita:latest
    container_name: test-media-kavita
    environment:
      - PUID=${USER_ID}
      - PGID=${GROUP_ID}
      - TZ=${TIMEZONE}
    volumes:
      - ${KAVITA_FOLDER}:/config
      - ${DATA_FOLDER}:/data
    restart: unless-stopped
    network_mode: service:test-media-gluetun
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:5000 || exit 1"]

  test-media-homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: test-media-homepage
    environment:
      HOMEPAGE_ALLOWED_HOSTS: ${HOSTNAME}
      PUID: ${USER_ID}
      PGID: ${GROUP_ID}
    ports:
      - 81:3000
    volumes:
      - ${HOMEPAGE_FOLDER}:/app/config
      - type: bind
        source: ./homepage/bookmarks.yaml
        target: /app/config/bookmarks.yaml
      - type: bind
        source: ./homepage/services.yaml
        target: /app/config/services.yaml
    restart: unless-stopped
    networks:
      - test-media-net
    healthcheck:
      test: ["CMD-SHELL", "wget --spider http://127.0.0.1:3000 || exit 1"]

  test-media-jellystat-db:
    image: 'postgres:15.2'
    shm_size: 1gb
    container_name: test-media-jellystat-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ${JELLYSTAT_FOLDER}/pg:/var/lib/postgresql/data
    network_mode: service:test-media-gluetun

  test-media-jellystat:
    image: 'cyfershepard/jellystat:latest'
    container_name: test-media-jellystat
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_IP: localhost
      POSTGRES_PORT: 5432
      JWT_SECRET: my-secret-jwt-key
      TZ: ${TIMEZONE}
    volumes:
      - ${JELLYSTAT_FOLDER}/config:/app/config
    network_mode: service:test-media-gluetun
    depends_on:
      - test-media-jellystat-db

  test-media-kapowarr:
    container_name: test-media-kapowarr
    image: mrcas/kapowarr:latest
    network_mode: service:tyr-media-gluetun
    restart: unless-stopped
    volumes:
      - ${KAPOWARR_FOLDER}:/app/db
      - ${DATA_FOLDER}:/data
      #- "/path/to/download_folder:/app/temp_downloads"
      #- "/path/to/root_folder:/comics-1"
